body {
    margin: 0;
}

/* 
Global
 */
h1, h2, h3, h4, h5 {
    font-family: "Newsreader", serif;
    font-style: normal;
}

ol, ul, a, button {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-size: 1.2rem;
}

.underline {
    text-decoration: underline;
}

p {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
}

h1 {
    font-size: 5rem;
    margin: 1%;
 }

h2 {
    font-size: 3.5rem;
    margin: 1%;
 }

h3 {
    font-size: 3rem;
    margin: 1%;
  }

h4 {
    font-size: 2.4rem;
    margin: 1%;
}

h5 {
    font-size: 1.8rem;
    margin: 1%;
}

p {
    font-size: 1.2rem;
}

main {
    margin: 0;
    background-color: #E0E0CE;
}

/* 
Navigation Bar
 */
 header {
    position: sticky;
    top: 0;
    z-index: 1; /* because filters are weird */
 }

nav {
    overflow: hidden;
    background-color: #474747;
}

nav a {
    display: block;
    float: left;
    font-size: 1.2rem;
    color: white;
    text-align: center;
    padding: 2vw;
    text-decoration: none;
    min-width: 100px;
}

.homeBtn {
    min-width: 60px;
}

nav a:hover, .dropdown:hover button {
    background-color: #AD343E;
}

nav a:active {
    font-weight: bold;
    background-color: #AD343E;  /* for mobile */
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown button {
    font-size: 1.2rem;
    border: none;
    outline: none;
    color: white;
    padding: 2vw;
    background-color: #474747;
}

.links {
    display: none;
    position: absolute;
    background-color: white; 
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.links a {
    float: none;
    color: black;
    padding: 2vw;
    text-decoration: none;
    display: block;
    text-align: left;
}

.links a:hover {
    background-color: #F2AF29;
}

.links a:active { 
    font-weight: bold;
    background-color: #F2AF29;  /* for mobile */
}

.hamburgerIcon {
    display: none;
}

/* 
Home Page
 */
.hero-section {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/landmarks/greatPyramids.jpg");
    background-size: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section h1 {
    padding-top: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
    margin: 0;
    color: white;
    text-shadow: 0px 0px 5px black;
}

.hero-section h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin: 0;
    color: white;
    text-shadow: 0px 0px 5px black;
}

.about-us {
    padding: 2% 20vw;
}

.about-us h3 {
    text-align: center;
    padding: 4% 0 0 0;
}

.itinerary {
    padding: 5% 10vw 7% 10vw;
    margin: 0 auto;
    height: auto;
}

.itinerary-homepage {
    text-align: center;
    width: 50vw;
    border: rgb(122, 45, 45) 5px dashed;
    padding: 3% 5vw 10% 5vw;
    background-image: url("../images/itineraryPage/mapBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 15px black;
    border-radius: 10px;
    margin: 0 auto;
}
.itinerary-grid {
    display: grid;
    grid-template-columns: 90% 10%;
}

.itinerary-homepage-mini {
    text-align: center;
    width: 50vw;
    border: rgb(122, 45, 45) 5px dashed;
    padding: 2% 5vw 10% 5vw;
    background-image: url("../images/itineraryPage/mapBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 15px black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 95% 5%;
    height: auto;
    margin: 0 auto;
}

.itinerary-content-mini {
    height: 100%;
}

.itinerary-homepage ul, .itinerary-homepage-mini ul {
    text-align: left;
}

.itinerary-homepage ul li, .itinerary-homepage-mini ul li {
    list-style-type: none;
}

.itinerary-homepage h3, .itinerary-homepage-mini h3  {
    padding: 2% 0;
}

.itineraryHeader {
    text-align: left;
}

#footsteps {
    width: 4vw;
    overflow: hidden;
}

.footstep {
    width: 2vw;
 }
/* button */
.detailBtn a {
    border: 1px solid black;
    background-color: white;
    width: 15vw;
    height: 5%;
    padding: 1vw;
    text-decoration: none;
    color: black;
    border-radius: 12px;
    margin: 0 auto;
}

.detailBtn a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.detailBtn a:active {
    color: #AD343E;
}

/* 
Footer
 */
footer {
    display: grid;
    grid-template-rows: auto auto;
    padding: 2vw 0;
    background-color: #474747;
    color: white;
}

.footer-row {
    display: flex;
    justify-content: space-around;
}

footer ul li {
    padding: 5% 0;
    list-style-type: none;
}

footer ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

footer ul li a:hover {
    font-weight: bold;
    text-decoration: underline;
}

footer ul li a:active {
    color:#AD343E;
}

footer p {
    font-size: 1.2rem;
}

.copyright {
    text-align: center;
}

/* 
Cairo
*/
.cairoHeroSection {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/cairoHomePage/cairoHomePage.jpg");
    background-size: 100vw;
    margin-bottom: 5%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cairoHeroSection h1 {
    padding-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    margin: 0;
}

.cairo-description {
    margin: 5% 20vw;
}

.grid-cairo {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}

.grid-cairo p
{
    width: 40vw;
    display: block;
    margin: auto;
    padding-bottom: 5%;
}

.grid-cairo img, .grid-cairo a {
    width: 40vw;
    display: block;
    margin: auto;
    box-sizing: border-box;
    border: 5px transparent solid;
}

.btm-row {
    padding-bottom: 5%;
}

/* 
Luxor
 */
 .luxorHeroSection {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/luxorHomePage/luxorHomePage.jpg");
    background-size: 100vw;
    margin-bottom: 5%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.luxorHeroSection h1 {
    padding-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    margin: 0;
}

.luxor-description {
    margin: 5% 20vw;
}

.grid-luxor {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}

.grid-luxor p {
    width: 40vw;
    display: block;
    margin: auto;
    padding-bottom: 5%;
}

.grid-luxor img, .grid-luxor a {
    width: 40vw;
    display: block;
    margin: auto;
    box-sizing: border-box;
    border: 5px transparent solid;
}

.luxorActivitySection {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
}

.luxorActivitySection p {
    width: 40vw;
    display: block;
    margin: auto;
    padding-bottom: 5%;
}

.luxorActivitySection img, .luxorActivitySection a {
    width: 40vw;
    display: block;
    margin: auto;
    box-sizing: border-box;
    border: 5px transparent solid;
}

/* 
Itinerary Page
 */
.smallImg {
    width: 7vw;
}

.mediumImg {
    width: 10vw;
}

.bigImg {
    width: 15vw;
}

.verybigImg {
    width: 17vw;
}

/* 
Landmarks
 */
.landmarksPage {
    text-align: center;
 }

 .landmarksPage h1 {
    margin: 0;
    padding: 7% 1% 3% 1%;
 }

 .landmarksPage h4 {
    margin: 0;
    padding: 3% 1%;
 }
 
 .landmark-grid0 {
    display: grid;
    grid-template-columns: auto;
    margin: 0 25vw;
 }

.stepsToLandmarks {
    width: 5vw;
    margin-left: 20vw;
    margin-top: 2%;
 }

.mapImg {
    width: 50vw;
}

.landmark-grid1 {
    display: grid;
    grid-template-columns: auto;
    padding-top: 2%;
}

.landmark-grid1 img {
    width: 40vw;
}

.landmark-grid1 p {
    padding: 1% 20vw 0% 20vw;
}

.steps1to2 {
    width: 10vw;
    padding-left: 5vw;
    padding-bottom: 1%;
}

.landmark-grid2 {
    display: grid;
    grid-template-columns: auto 15vw auto;
    padding-top: 2%;
}

.landmark-grid2 img {
    width: 30vw;
}

.landmark-grid2 p {
    padding: 1% 5vw 0% 5vw;
}

#steps2to2 {
    width: 15vw;
    margin-top: 15vw;
}

.landmark-grid3{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    padding-top: 2%;
}

.landmark-grid3 img {
    width: 30vw;
}

.landmark-grid3 p {
    padding: 1% 2vw 0% 2vw;
}

.steps2to3 {
    width: 10vw;
    margin-right: 55vw;
    padding-bottom: 2%;
}

.steps-grid {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}

.steps-grid img {
    width: 15vw;
    margin: 0 10vw;
    padding-bottom: 5%;
}

/* 
Museums
 */
.museumsPage {
    text-align: center;
}

.museumsPage h1 {
    margin: 0;
    padding: 5% 1% 0% 1%;
}

.museumsPage p {
    padding: 2% 15vw 5% 15vw;
    margin: 0;
}

.yellow {
    background-color: #F2AF29;
}

.red {
    background-color: #AD343E;
    color: white;
} 

/* egpytian */
#egyptian-h4 {
    padding: 1% 0;
}

 #big-img-little-row {
	width: 100vw;
	overflow: hidden;
}

#map-img {
	width: 40vw; 
	display: block;
	margin: auto;
}

#pictures-container {
	display: flex; 
	align-items: center;
	justify-content: center;
	height: 5%;
	margin: 1% 0 5% 0;
}

#pictures-container img {
    border: solid black 2px;
}

.picture {
    width: 7vw;
	margin: 0 2px;
}

#egypt-img {
    width: 30vw;
    padding: 0 1vw;
}

#images-left-right {
    background-color: #F2AF29;
    padding: 2% 0;
}

#images-left-right button, .arrow {
    margin-bottom: 20vw;
}

#images-left-right button{
    width: 5vw;
    height: 3vw;   
    background-color: white;
    border-radius: 20px;
}

.arrow {
    width: 98%;
    padding-top: 2%;
}

/* national */
#national-h4 {
    padding: 3% 2% 1% 2%;
}

.img-carasol {
    overflow: auto;
    white-space: nowrap;
    padding: 2vw;
}
  
.img-carasol img {
    padding: 10px;
    width: 25vw;
}

/* coptic */
#coptic-h4 {
    background-color: #AD343E;
    margin: 0;
    padding: 3% 0;
}

#imgGallery {
    width: 100vw;
    overflow: hidden;
    background-color: #AD343E;
}

#smallImgLeft, #smallImgRight {
    width: 15vw;
    padding: 0 1vw 10% 1vw;
    filter: blur(3px);
}

#mainImg {
    width: 40vw;
}

/*
Sacred Sites
*/
.sacredsitesPage {
    text-align: center;
}

.sacredsitesPage h1 {
    margin: 0;
    padding: 5% 0 0 0;
}

.sacredsitesPage h4{
    margin: 0;
    padding: 2% 0;
}

.sacredsitesPage p {
    text-align: center;
    padding: 2% 20vw 5% 20vw;
    margin: 0;
}

.grid-ss1 {
    display: grid;
    grid-template-columns: 100vw;
}

.grid-ss1 img{
    width: 40vw;
    margin: 0 30vw;
}

.grid-ss3 {
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    padding: 0 5vw;
}

.grid-ss3 img {
    width: 25vw;
    margin: 1% 2.5vw; /* 30-25 / 2 */
}

/*
Cairo Activities
*/
.activitiesPage {
    text-align: center;
}

.activitiesPage h1 {
    margin: 0;
    padding: 5% 0 0 0;
}

.activitiesPage h4 {
    margin: 0;
    padding: 2% 0;
}

.activitiesPage p {
    padding: 2% 20vw 5% 20vw;
    margin: 0;
}

.grid-a2 {
    display: grid;
    grid-template-columns: 35vw 35vw;
    margin: 0 17vw;
}

.grid-a2 img {
    width: 30vw;   
}

.grid-a3 {
    display: grid;
    grid-template-columns: 30vw 40vw 30vw;
    margin: 0 2.5vw;
}

.grid-a3 img {
    width: 25vw;
}

.grid-a3 #horiz {
    width: 35vw;
    padding-top: 7%;
}

/* 
West Bank
 */
 .westBankPage h1 {
    margin: 0;
    padding: 5% 0 0 0;
    text-align: center;
}
.westBankPage h3, .westBankPage h5 {
    margin: 0;
    padding: 3% 0;
    text-align: center;
}

.westBankPage p {
    width: 50vw;
    padding: 2% 25vw 5% 25vw;
    margin: 0;
    text-align: center;
}
.mainImgSection{
    padding: 0 25vw;
}

.mainImgSection img{
    width: 50vw;
}
/* valley of kings */
/* ramses 3 */
.r3-grid {
    display: grid;
    grid-template-columns: 31vw 26vw 31vw;
    padding: 0 6.5vw;
}

.r3-grid-h {
    width: 30vw;
    padding-top: 35%;
}

.r3-grid-v {
    width: 25vw;
}
/* ramses 4 */
.r4-grid-4 {
    display: grid;
    grid-template-columns: 21vw 21vw 21vw 21vw;
    padding: 0 8vw;
}

.r4-grid-v{
    width: 20vw;
}

.r4-grid-1 {
    display: grid;
    grid-template-columns: 51vw;
    padding: 1% 24.5vw;
}

.r4-grid-h {
    width: 50vw;
}
/* ramses 9 */
.grid-2h {
    display: grid;
    grid-template-columns: 32vw 32vw;
    padding: 1% 17vw;
}

.grid-2h img {
    width: 30vw;
    padding: 0 1vw;
} 

.grid-3v {
    display: grid;
    grid-template-columns: 21vw 21vw 21vw;
    padding: 1% 18vw;
}

.grid-3v img {
    width: 20vw;
}

/* valley of queens */
.grid-hvh-top {
    display: grid;
    grid-template-columns: 31vw 26vw 31vw;
    padding: 0 6.5vw;
}
.grid-hvh-top-h {
    width: 30vw;
    padding-bottom: 35%;
}
.grid-hvh-top-v {
    width: 25vw;
}

.grid-vhv-btm {
    display: grid;
    grid-template-columns: 28vw 34vw 28vw;
    padding: 0 6.5vw;
}
.grid-vhv-btm-h {
    width: 30vw;
    padding-top: 32%;
}
.grid-vhv-btm-v {
    width: 25vw;
}

.smallText {
    text-align: center;
}

/* temple of ramses 3 */
.grid-3h {
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    padding: 1% 6.5vw;
}

.grid-3h img {
    width: 27vw;
}

/* 
East Bank
*/
.eastBankPage h1{
    margin: 0;
    padding: 5% 0 0 0;
    text-align: center;
}

.eastBankPage h3, .eastBankPage h5 {
    margin: 0;
    padding: 3% 0;
    text-align: center;
}

.eastBankPage p {
    width: 50vw;
    padding: 2% 25vw 5% 25vw;
    margin: 0;
    text-align: center;
}

.grid-2v {
    display: grid;
    grid-template-columns: 21vw 21vw;
    padding: 1% 28vw;
}
.grid-2v img{
    width: 20vw;
    padding: 0 1vw;
}

/* 
Comments
*/
.comments {
    background-color: #E0E0CE;
    text-align: center;
    height: auto;
}

.comments h3 {
    margin: 2vw;
}

.past-comments {
    padding: 5vh 0 5vh 0;
}

.input-form {
    padding: 5vh 0 5vh 0;
}

form {
    font-size: 1.2rem;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
}

input[type=text] {
    width: 20vw;
    height: 4vh;
    font-size: 1.2rem;
    margin: 2vh 0;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
}

textarea {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 20vw;
    margin: 2vh auto;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

input[type=submit] {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-size: 1.2rem;
    width: 15vw;
    height: 5vh;   
    background-color: white;
    border-radius: 20px;
    color: black;
    border: 2px solid black;
}

.comment-box {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    width: 55vw;
    background-color: whitesmoke;
    margin: 5vh auto;
    border: solid black 2px;
    padding: 1vw;
    min-height: 2vh;
}

.name {
    color:#AD343E;
}

.time {
    color: grey;
}

/* 
Work Cited
*/
.workCitedPage {
    padding: 2% 25vw;
    margin: 0;
}
.workCitedPage h1  {
    margin: 0;
    padding: 4% 0;
    text-align: center;
}

.workCitedPage li {
    padding: 1%;
}

.workCitedPage a {
    color: black;
}

.workCitedPage a:hover{
    font-weight: bold;
}

.workCitedPage a:active {
    color: #AD343E;
}

/* 
Grading
 */
 .gradingPage {
    padding: 2% 25vw;
    margin: 0;
    text-align: center;

}
.gradingPage h1  {
    margin: 0;
    padding: 4% 0;
}

.gradingPage h4 {
    margin: 0;
    padding-top: 2%;
}

.gradingPage p {
    padding-bottom: 5%;
}

.gradingPage ul {
    text-align: left;
}

@media screen and (max-width:1200px) {
    /* Home Page */
    .hero-section h1 {
        padding-top: 45vh;
        font-size: 6rem;
    }
    .hero-section h2 {
        font-size: 3rem;
    }
}

@media screen and (max-width:960px)  {
    /* Landmarks */
    .steps1to2 {
        width: 15vw;
    }
    #steps2to2 {
        width: 20vw;
        margin-top: 15vw;
    }
    .steps2to3 {
        width: 13vw;
        margin-right: 55vw;
        padding-bottom: 2%;
    }
    .steps-grid img {
        width: 25vw;
        margin: 0 10vw;
        padding-bottom: 5%;
    }
    /* Museums */
    /* egpytian */
    #map-img {
        width: 50vw; 
    }
    .picture {
        width: 10vw;
    }
    #egypt-img {
        width: 40vw;
    }
    #images-left-right {
        padding: 2% 0;
    }
    #images-left-right button, .arrow {
        margin-bottom: 20vw;
    }
    #images-left-right button{
        width: 8vw;
        height: 5vw;   
    }
    /* national */
    .img-carasol img {
        padding: 7px;
        width: 30vw;
    }
    /* coptic */
    #smallImgLeft, #smallImgRight {
        width: 15vw;
        padding: 0 1vw 10% 1vw;
    }
    #mainImg {
        width: 50vw;
    }
    /* Sacred sites */
    .grid-ss1 img{
        width: 50vw;
        margin: 0 25vw;
    }
    /* West Bank */
    .mainImgSection{
        padding: 0 20vw;
    }
    .mainImgSection img{
        width: 60vw;
    }
    .westBankPage p {
        width: 60vw;
        padding: 1% 20vw 5% 20vw;
    }
    /* ramses 9 */
    .grid-3v {
        display: grid;
        grid-template-columns: 31vw 31vw 31vw;
        padding: 1% 4.5vw;
    }
    .grid-3v img {
        width: 30vw;
    }
    /* East Bank */
    .eastBankPage p {
        width: 60vw;
        padding: 1% 20vw 5% 20vw;
    }
    .grid-2v {
        display: grid;
        grid-template-columns: 31vw 31vw;
        padding: 1% 18vw;
    }
    .grid-2v img{
        width: 30vw;
        padding: 0 1vw;
    }
    /* comments */
    input[type=text] {
        width: 35vw;
        height: 4vh;
    }
    textarea {
        width: 55vw;
        height: 20vh;
    }
    .comment-box {
        width: 65vw;
    }
    input[type=submit] {
        width: 25vw;
    }
    /* grading */
    .gradingPage {
        padding: 2% 15vw;
    }
}

@media screen and (max-width:840px)  {
    /* home page */
    .hero-section h1 {
        padding-top: 45vh;
        font-size: 5.5rem;
    }
    .hero-section h2 {
        font-size: 2.5rem;
    }
    /* cairo */
    .cairoHeroSection h1 {
        padding-top: 40%;
    }
    /* luxor */
    .luxorHeroSection h1 {
        padding-top: 40%;
    }
    /* landmarks */
    .landmarksPage h1 {
        font-size: 4rem;
    }
    .landmarksPage h4 {
        font-size: 2.2rem;
    }
    .landmark-grid0 {
        margin: 0 20vw;
    }
    .stepsToLandmarks {
        width: 7vw;
        margin-left: 25vw;
     }    
    .mapImg {
        width: 60vw;
    }
    .landmark-grid1 img {
        width: 50vw;
    }
    .steps1to2 {
        width: 15vw;
    }
    #steps2to2 {
        width: 20vw;
        margin-top: 15vw;
    }
    .steps2to3 {
        width: 13vw;
        margin-right: 55vw;
        padding-bottom: 2%;
    }
    .steps-grid img {
        width: 25vw;
        margin: 0 10vw;
        padding-bottom: 5%;
    }
    /* Museums */
    /* egpytian */
    #map-img {
        width: 60vw; 
    }
        #egypt-img {
        width: 50vw;
    }
    #images-left-right button, .arrow {
        margin-bottom: 30vw;
    }
    #images-left-right button{
        width: 10vw;
        height: 6vw;   
    }
    .museumsPage h1 {
        font-size: 4rem;
    }
    .museumsPage h3 {
        font-size: 2.5rem;
    }
    .museumsPage h4 {
        font-size: 2.2rem;
    }
    /* national */
    .img-carasol img {
        padding: 5px;
        width: 35vw;
    }
    /* sacred sites */
    .grid-ss1 img{
        width: 60vw;
        margin: 0 20vw;
    }
    .sacredsitesPage h1 {
        font-size: 4rem;
    }
    .sacredsitesPage h4 {
        font-size: 2.2rem;
    }
    .sacredsitesPage h1 {
        font-size: 4rem;
    }
    .sacredsitesPage h4 {
        font-size: 2.2rem;
    }
    /* activities */
    .activitiesPage h1 {
        font-size: 4rem;
    }
    .activitiesPage h4 {
        font-size: 2.2rem;
    }
    .grid-a2 {
        display: grid;
        grid-template-columns: 45vw 45vw;
        margin: 0 7vw;
    }
    .grid-a2 img {
        width: 40vw;   
    }
    .activitiesPage p {
        padding: 2% 10vw 5% 10vw;
        margin: 0;
    }
    /* west bank */
    .westBankPage h1 {
        font-size: 4rem;
    }
    .westBankPage h3 {
        font-size: 2.8rem;
    }
    .westBankPage h5 {
        font-size: 1.6rem;
    }

    .mainImgSection{
        padding: 0 15vw;
    }
    .mainImgSection img{
        width: 70vw;
    }
    .westBankPage p {
        width: 70vw;
        padding: 1% 15vw 5% 15vw;
    }
    /* east bank */
    .eastBankPage h1 {
        font-size: 4rem;
    }
    .eastBankPage h3 {
        font-size: 2.8rem;
    }
    .eastBankPage h5 {
        font-size: 1.6rem;
    }
    .eastBankPage p {
        width: 70vw;
        padding: 1% 15vw 5% 15vw;
    }
    /* grading */
    .gradingPage {
        padding: 2% 10vw;
    }
}
@media screen and (min-width:641px) 
{
    /* navigation */
    /* desktop its on hover, mobile its on click */
    .dropdown:hover .links { 
        display: block;
    }
}

@media screen and (max-width:640px) 
{
    /* global */
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 2rem;
    }
    h4 {
        font-size: 1.7rem;
    }
    h5 {
        font-size: 1.4rem;
    }
    p {
        font-size: 1.2rem;
    }
    /* navigation  */
    .homeBtn {
        max-width: 60px;
    }
    nav a:not(:first-child), .dropdown .dropBtn {
        display: none;
        /* hide links except home */
    }
    nav a.hamburgerIcon {
        float: right;
        display: block;
    }
    nav.responsive {
        display: block; 
        width: 100vw;
    }
    nav.responsive a.hamburgerIcon {
        position: absolute;
        right: 0;
        top: 0;
        text-align: center;
    }
    nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    nav.responsive .dropdown {
        float: none;
    }
    nav.responsive .links {
        position: relative;
    }
    nav.responsive .dropdown .dropBtn {
        display: block;
        width: 100%;
        text-align: left;
    }
    .links.show {
        display: block;
    }
    /* footer */
   .footer-row {
        display: grid;
        grid-template-columns: auto;
    }
    .copyright {
        padding: 0 5vw;
    }
        /* home page */
    .itinerary {
        display: flex;
        justify-content: center;
        padding: 10vw;
    }
    .itinerary-homepage, .itinerary-homepage-mini {
        width: 80vw;
    }
    #footsteps {
        width: 6vw
    }
    .footstep {
        width: 3vw;
     }
    .about-us {
        padding: 2% 12vw;
    }
    /* itinerary */
    .smallImg {
        width: 10vw;
    }
    .mediumImg {
        width: 13vw;
    }
    .bigImg {
        width: 18vw;
    }
    .verybigImg {
        width: 21vw;
    }
    /* cairo */
    .cairoHeroSection h1 {
        padding-top: 50%;
    }
    .grid-cairo {
        display: grid;
        grid-template-columns: auto;
        text-align: center;
    }
    .grid-cairo p
    {
        width: 60vw;
    }
    .grid-cairo img, .grid-cairo a {
        width: 60vw;
    }
    .cairo-description {
        margin: 5% 10vw;
        text-align: center;
    }
    /* luxor */
    .luxorHeroSection h1 {
        padding-top: 50%;
    }
    .grid-luxor {
        display: grid;
        grid-template-columns: auto;
        text-align: center;
    }
    .grid-luxor p
    {
        width: 60vw;
    }
    .grid-luxor img, .grid-luxor a {
        width: 60vw;
    }
    .luxor-description {
        margin: 5% 10vw;
        text-align: center;
    }
    .luxorActivitySection p {
        width: 60vw;
    }
    .luxorActivitySection img, .luxorActivitySection a {
        width: 60vw;
    }
    /* landmarks */
    .landmarksPage h1 {
        font-size: 3rem;
    }
    .landmarksPage h4 {
        font-size: 2rem;
    }
    .landmark-grid0 {
        margin: 0 15vw;
    }
    .stepsToLandmarks {
        width: 10vw;
        margin-left: 30vw;
     }  
    .mapImg {
        width: 70vw;
    }
    .landmark-grid1 img {
        width: 70vw;
    }
    .landmark-grid1 p {
        padding: 1% 15vw 0% 15vw;
    }
    .steps1to2 {
        width: 20vw;
        padding-left: 5vw;
    }
    .landmark-grid2 {
        display: grid;
        grid-template-columns: auto;
        padding-top: 2%;
    }
    .landmark-grid2 img {
        width: 70vw;
    }
    .landmark-grid2 p {
        padding: 1% 10vw 0% 10vw;
    }
    #steps2to2 {
        width: 30vw;
        margin: 0;
        display: block;
        margin: 0 auto;
    }
    .steps2to3 {
        width: 17vw;
        margin-right: 0;
    }
    .landmark-grid3{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        padding: 2% 0 5% 0;
    }
    .landmark-grid3 h4{
        padding: 2%;
    }

    .landmark-grid3 img {
        width: 70vw;
    }
    .landmark-grid3 p {
        padding: 1% 10vw 0% 10vw;
    }
    
    .steps-grid {
        display: none;
    }
    /* museum */
    .museumsPage h1 {
        font-size: 3rem;
    }
    .museumsPage h3 {
        font-size: 2.2rem;
    }
    .museumsPage h4 {
        font-size: 2rem;
    }
    /* egyptian */
    #map-img {
        width: 70vw; 
    }
    .picture {
        width: 12vw;
    }
    #egypt-img {
        width: 60vw;
    }
    #images-left-right {
        padding: 2% 0;
    }
    #images-left-right button, .arrow {
        margin-bottom: 40vw;
    }
    .arrow {
        width: 90%;
    }
    #images-left-right button{
        width: 12vw;
        height: 7vw;   
    }
    /* national */
    .img-carasol img {
        padding: 4px;
        width: 40vw;
    }
    /* copytic */
    #imgGallery {
        display: grid;
        grid-template-columns: 100vw;
    }
    #smallImgLeft, #smallImgRight {
        width: 30vw;
        padding: 2vw 35vw;
    }
    #mainImg {
        width: 70vw;
        padding: 0 15vw
    }
    /* sacred sites */
    .grid-ss1 img{
        width: 70vw;
        margin: 0 15vw;
    }
    .grid-ss3 {
        display: grid;
        grid-template-columns: 100vw;
        padding: 0;
    }
    .grid-ss3 img {
        width: 50vw;
        margin: 0; 
    }
    .sacredsitesPage h1 {
        font-size: 3rem;
    }
    .sacredsitesPage h4 {
        font-size: 2.2rem;
    }
    /* activites  */
    .activitiesPage h1 {
        font-size: 4rem;
    }
    .activitiesPage h4 {
        font-size: 2.2rem;
        padding: 2%;
    }
    .activitiesPage p {
        padding: 2% 10vw 5% 10vw;
        margin: 0;
    }
    .grid-a3 {
        display: grid;
        grid-template-columns: 100vw;
        margin: 0;
    }
    .grid-a3 img {
        width: 70vw;
        padding: 0 15vw;
    }
    .grid-a3 #horiz {
        width: 70vw;
        padding: 7% 15vw;
    }
    .grid-luxor p,  .luxorActivitySection p {
        padding-bottom: 10%;
    }
    /* west bank */
    .westBankPage h1 {
        font-size: 3rem;
    }
    .westBankPage h3 {
        font-size: 2.5rem;
    }
    .westBankPage h5 {
        font-size: 1.5rem;
    }
    .mainImgSection{
        padding: 0 12.5vw;
    }
    .mainImgSection img{
        width: 75vw;
    }
    .westBankPage p {
        width: 75vw;
        padding: 1% 12.5vw 5% 12.5vw;
    }
    /* valley of kings */
    /* ramses 3 */
    .r3-grid {
        display: grid;
        grid-template-columns: 100vw;
        padding: 0;
    }
    .r3-grid-h {
        width: 60vw;
        padding: 2% 20vw;
    }
    .r3-grid-v {
        width: 50vw;
        padding: 2% 25vw;
    }
    /* ramses 4 */
    .r4-grid-4 {
        display: grid;
        grid-template-columns: 100vw;
        padding: 0 12.5vw;
    }
    .r4-grid-v{
        width: 75vw;
        padding: 2% 0;
    }
    .r4-grid-1 {
        display: grid;
        grid-template-columns: 75vw;
        padding: 1% 12.5vw;
    }
    .r4-grid-h {
        width: 75vw;
    }
    /* ramses 9 */
    .grid-2h {
        display: grid;
        grid-template-columns: 100vw;
        padding: 0 15vw;
    }
    .grid-2h img {
        width: 70vw;
        padding: 2% 0;
    } 
    .grid-3v {
        display: grid;
        grid-template-columns: 100vw;
        padding: 0 15vw;
    }
    .grid-3v img {
        width: 70vw;
        padding: 2% 0;
    }
    /* valley of queens */
    .grid-hvh-top {
        display: grid;
        grid-template-columns: 100vw;
        padding: 0 15vw;
    }
    .grid-hvh-top-h {
        width: 70vw;
        padding: 2% 0;
    }
    .grid-hvh-top-v {
        width: 70vw;
    }
    .grid-vhv-btm {
        display: grid;
        grid-template-columns: 100vw;
        padding: 0 15vw;
    }
    .grid-vhv-btm-h {
        width: 70vw;
        padding: 2% 0;
    }
    .grid-vhv-btm-v {
        width: 70vw;
    }
    /* temple of ramses 3 */
    .grid-3h {
        display: grid;
        grid-template-columns: 100vw;
        padding: 0 15vw;
    }
    .grid-3h img {
        width: 70vw;
        padding: 2% 0;
    }
    /* east bank */
    .eastBankPage h1 {
        font-size: 3rem;
    }
    .eastBankPage h3 {
        font-size: 2.5rem;
    }
    .eastBankPage h5 {
        font-size: 1.5rem;
    }
    .eastBankPage p {
        width: 75vw;
        padding: 1% 12.5vw 5% 12.5vw;
    }
    .grid-2v {
        display: grid;
        grid-template-columns: 100vw;
        padding: 0 15vw;
    }
    .grid-2v img{
        width: 70vw;
        padding: 2% 0;
    }
    /* sacred sites */
    .sacredsitesPage p{
        text-align: center;
        padding: 2% 15vw 5% 15vw;
        margin: 0;
    }
    /* work cited */
    .workCitedPage {
        padding: 2% 10vw;
        margin: 0;
    }
    /* comments */
    input[type=submit] {
        width: 35vw;
    }
    /* grading */
    .gradingPage {
        text-wrap: wrap;
        overflow-wrap: break-word;
    }
}

@media screen and (max-width:480px) 
{
    /* home page */
    .hero-section {
        background-attachment: scroll;
        height: 80vh;
    } 
    .hero-section h1 {
        padding-top: 40vh;
        font-size: 5.5rem;
    }
    .hero-section h2 {
        text-align: center;
    }
    .itinerary {
        display: flex;
        justify-content: center;
        padding: 3vw;
    }
    .itinerary {
        margin: 0 auto;
    }
    .itinerary-homepage, .itinerary-homepage-mini {
        width: 90vw;
    }
    /* footer */
   .footer-row {
        display: grid;
        grid-template-columns: auto;
    }
    /* itinerary */
    .smallImg {
        width: 14vw;
    }
    .mediumImg {
        width: 17vw;
    }
    .bigImg {
        width: 22vw;
    }
    .verybigImg {
        width: 25vw;
    }
    /* cairo */
    .cairoHeroSection {
        background-attachment: scroll;
    }
    .cairoHeroSection h1 {
        padding-top: 80%;
        font-size: 6.5rem;
    }
    .grid-cairo {
        display: grid;
        grid-template-columns: auto;
        text-align: center;
    }
    .grid-cairo p
    {
        width: 80vw;
    }
    .grid-cairo img, .grid-cairo a {
        width: 80vw;
    }
    .cairo-description {
        margin: 5% 10vw;
        text-align: center;
    }
    .grid-cairo {
        display: grid;
        grid-template-columns: auto;
        text-align: center;
    }
    /* luxor */
    .luxorHeroSection {
        background-attachment: scroll;
    }
    .luxorHeroSection h1 {
        padding-top: 80%;
        font-size: 6.5rem;
    }
    .grid-luxor p
    {
        width: 80vw;
    }
    .grid-luxor img, .grid-luxor a {
        width: 80vw;
    }
    .luxor-description {
        margin: 5% 10vw;
        text-align: center;
    }
    .luxorActivitySection p {
        width: 80vw;
    }
    .luxorActivitySection img, .luxorActivitySection a {
        width: 80vw;
    }
    /* landmarks */
    .landmarksPage h1 {
        font-size: 2.5rem;
    }
    .landmarksPage h4 {
        font-size: 1.6rem;
    }
    .landmark-grid0 {
        margin: 0 10vw;
    }
    .stepsToLandmarks {
        width: 15vw;
        margin-left: 30vw;
     }  
    .mapImg {
        width: 80vw;
    }
    .landmark-grid1 img {
        width: 70vw;
    }
    .landmark-grid1 p {
        padding: 1% 10vw 0% 10vw;
    }
    .steps1to2 {
        width: 25vw;
        padding-left: 5vw;
    }
    /* museum */
    .museumsPage h1 {
        font-size: 2.5rem;
    }
    .museumsPage h3 {
        font-size: 1.8rem;
    }
    .museumsPage h4 {
        font-size: 1.6rem;
    }
    .museumsPage p {
        padding: 2% 15vw 5% 15vw;
    }
    /* egyptian */
    #map-img {
        width: 80vw; 
    }
    .picture {
        width: 15vw;
    }
    .arrow {
        width: 90%;
        padding-top: 8%;
    }
    #egypt-img {
        width: 65vw;
    }
    /* national */
    .img-carasol img {
        padding: 3px;
        width: 50vw;
    }
    #imgGallery {
        display: grid;
        grid-template-columns: 100vw;
    }
    /* coptic */
    #smallImgLeft, #smallImgRight {
        width: 35vw;
        padding: 2vw 32.5vw;
    }
    #mainImg {
        width: 80vw;
        padding: 0 10vw
    }
    /* sacred sties  */
    .grid-ss1 img{
        width: 80vw;
        margin: 0 10vw;
    }
    .grid-ss3 {
        display: grid;
        grid-template-columns: 100vw;
        padding: 0;
    }
    .grid-ss3 img {
        width: 60vw;
        margin: 0; 
    }
    .sacredsitesPage h1 {
        font-size: 2.5rem;
    }
    .sacredsitesPage h4 {
        font-size: 1.6rem;
        padding: 5%;
    }
    /* activites  */
    .activitiesPage h1 {
        font-size: 2.5rem;
    }
    .activitiesPage h4 {
        font-size: 1.6rem;
        padding: 5%;
    }
    /* west bank */
    .westBankPage h3 {
        padding: 2%;
    }
    .westBankPage h5 {
        padding: 5%;
    }
    .mainImgSection{
        padding: 0 10vw;
    }
    .mainImgSection img{
        width: 80vw;
    }
    .westBankPage p {
        width: 80vw;
        padding: 1% 10vw 5% 10vw;
    }
    /* valley of kings */
    /* ramses 3 */
    .r3-grid {
        display: grid;
        grid-template-columns: 100vw;
        padding: 0;
    }
    .r3-grid-h {
        width: 70vw;
        padding: 2% 15vw;
    }
    .r3-grid-v {
        width: 60vw;
        padding: 2% 20vw;
    }
    /* ramses 4 */
    .r4-grid-4 {
        display: grid;
        grid-template-columns: 100vw;
        padding: 0 7.5vw;
    }
    .r4-grid-v{
        width: 85vw;
        padding: 2% 0vw;
    }
    .r4-grid-1 {
        display: grid;
        grid-template-columns: 85vw;
        padding: 1% 7.5vw;
    }
    .r4-grid-h {
        width: 85vw;
    }
    /* ramses 9 */
    .grid-2h {
        display: grid;
        grid-template-columns: 100vw;
        padding: 0 7.5vw;
    }
    .grid-2h img {
        width: 85vw;
        padding: 2% 0;
    } 
    .grid-3v {
        display: grid;
        grid-template-columns: 100vw;
        padding: 0 7.5vw;
    }
    .grid-3v img {
        width: 85vw;
        padding: 2% 0;
    }
    /* valley of queens */
    .grid-hvh-top {
        display: grid;
        grid-template-columns: 100vw;
        padding: 0 7.5vw;
    }
    .grid-hvh-top-h {
        width: 85vw;
        padding: 2% 0;
    }
    .grid-hvh-top-v {
        width: 85vw;
    }
    .grid-vhv-btm {
        display: grid;
        grid-template-columns: 100vw;
        padding: 0 7.5vw;
    }
    .grid-vhv-btm-h {
        width: 85vw;
        padding: 2% 0;
    }
    .grid-vhv-btm-v {
        width: 85vw;
    }
    /* temple of ramses 3 */
    .grid-3h {
        display: grid;
        grid-template-columns: 100vw;
        padding: 0 7.5vw;
    }
    .grid-3h img {
        width: 85vw;
        padding: 2% 0;
    }
    /* east bank */
    .eastBankPage h3 {
        padding: 2%;
    }
    .eastBankPage h5 {
        padding: 5%;
    }
    .eastBankPage p {
        width: 80vw;
        padding: 1% 10vw 5% 10vw;
    }
    /* sacred sites  */
    .sacredsitesPage p{
        text-align: center;
        padding: 2% 10vw 5% 10vw;
        margin: 0;
    }
    /* comments */
    input[type=text] {
        width: 45vw;
        height: 4vh;
    }
    textarea {
        width: 70vw;
        height: 30vh;
    }
    input[type=submit] {
        width: 40vw;
        font-family: "PT Sans", sans-serif;
        font-style: normal;
        font-size: 1.2rem;
        height: 5vh;   
        background-color: white;
        border-radius: 20px;
        color: black;
        border: 2px solid black;
    }
}

/* 
red AD343E
yellow  F2AF29
eggshell    E0E0CE
black   
grey    474747
 */